@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, head, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-size: 1.2vw;
    color: #D1E8E2;
    background: #3AAFA9;
}

.watch {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5%; 
    @media (orientation: portrait) and (max-width: 999px) {
        justify-content: start;
    }  
}

.watch .currentTime {
    width: 100%;
    text-align: center;
    font-size: 1.6vw;
    font-weight: 500;
    @media (orientation: portrait) and (max-width: 999px) {
        font-size: 4vw;
        margin-bottom: 40px;
    }
}

.watch .watch-img {
    position: relative;
    width: auto;
    height: 60%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (orientation: portrait) and (max-width: 999px) {
        height: auto;
        width: 100%;
        margin-bottom: 40px;
    }
}

.watch .watch-img img {
    width: 100%;
}

.watch .btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.watch .btn button {
    width: 20%;
    aspect-ratio: 5/1;
    font-family: "Montserrat", serif;
    font-size: 1.5vw;
    font-weight: 500;
    border-radius: 20px;
    border: none;
    background: #17252A;
    color: #D1E8E2;
    cursor: pointer;
    transition: all 0.3s linear;
    @media (orientation: portrait) and (max-width: 999px) {
        width: 45%;
        font-size: 4vw;
    }
}

.watch .btn button:hover {
    background: #2B7A78;
    border: 2px solid #17252A;
}

.watch .watch-img img.arrow {
    position: absolute;
}

.watch .watch-img img#hour {
    height: 40%;
    width: auto;
    aspect-ratio: 1/20;
}

.watch .watch-img img#minute {
    height: 62%;
    width: auto;
    aspect-ratio: 1/35;
}

.watch .watch-img img#second {
    height: 62%;
    width: auto;
    aspect-ratio: 1/70;
}

.watch .watch-img img.eclipse {
    position: absolute;
    width: 5%;
    aspect-ratio: 1/1;
}