* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, head, body {
    width: 100%;
    height: 100%;
}

body {
    font-weight: 400;
    font-optical-sizing: auto;
    font-size: 16px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.watch {
    position: relative;
    width: 35%;
    
}

.watch .watch-img {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.watch .watch-img img {
    width: 100%;
}

.watch .btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.watch .btn button {
    width: 48%;
    aspect-ratio: 5/1;
    font-size: 16px;
    border-radius: 16px;
    border: 1px solid #000;
    background: none;
    cursor: pointer;
}

.watch .watch-img img.arrow {
    position: absolute;
}

.watch .watch-img img#hour {
    height: 40%;
    width: auto;
    aspect-ratio: 1/20;
}

.watch .watch-img img#minute {
    height: 62%;
    width: auto;
    aspect-ratio: 1/35;
}

.watch .watch-img img#second {
    height: 62%;
    width: auto;
    aspect-ratio: 1/70;
}

.watch .watch-img img.eclipse {
    position: absolute;
    width: 5%;
    aspect-ratio: 1/1;
}