@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

html, head, body {
    width: 100%;
    height: 100%;
}

body {
    background: #131313;
    font-family: "Outfit", serif;
    font-weight: 400;
    font-size: 1.1vw;
    color: #fff;
}

ul {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

img {
    object-fit: contain;
}

h1 {
    font-size: 6.4vw;
    font-weight: 700;
    line-height: 106%;
}

h2 {
    font-size: 4.4vw;
    font-weight: 700;
    line-height: 106%;
}

h3 {
    font-size: 3.3vw;
    font-weight: 700;
    line-height: 106%;
}

h4 {
    font-size: 2.5vw;
    font-weight: 600;
}

h5 {
    font-size: 1.7vw;
    font-weight: 600;
    line-height: 120%;
}

p {
    font-size: 1.35vw;
    font-weight: 300;
    line-height: 120%;
}

@media (orientation: portrait) and (max-width: 999px) {
    h1, h2 {
        font-size: 10.7vw;
    }

    h3 {
        font-size: 8.5vw;
    }

    h4 {
        font-size: 6.4vw;
    }

    h5 {
        font-size: 5.3vw;
    }

    p {
        font-size: 4.3vw;
    }

    br {
        display: none;
    }
}

.btn-open-contact {
    width: 12.6vw;
    height: auto;
    aspect-ratio: 182/57;
    background: #954CED;
    border-radius: 16px;
    font-size: 1.2vw;
    font-weight: 600;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s linear;
}

.btn-open-contact:hover {
    background: #4800A1;
}

.cookie {
    position: fixed;
    width: 89.2%;
    bottom: 2.1%;
    display: flex;
    justify-content: space-between;
    padding: 2.1% 4.2%;
    padding-left: 2.1%;
    background: #fff;
    color: #383838;
    border-radius: 1.1vw;
    z-index: 4;
    left: 5.4%;
}

@media (orientation: portrait) and (max-width: 999px) {
    .cookie {
        width: 89.3%;
        padding: 8% 5.3%;
        left: 5.35%;
        flex-direction: column;
        gap: 10.7vw;
        border-radius: 4.3vw;
    }
}

.cookie .closeCookie {
    position: absolute;
    width: 1%;
    right: 1.7%;
    top: 1.4vw;
}

@media (orientation: portrait) and (max-width: 999px) {
    .cookie .closeCookie {
        width: 3.6%;
        right: 6%;
        top: 6%;
    }
}

.cookie .closeCookie svg {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    cursor: pointer;
}

.cookie .closeCookie svg:hover path {
    stroke: #FFAA4C;
}

.cookie p {
    width: 67%;
    font-size: 1.2rem;
    line-height: 140%;
    font-weight: 300;
}

@media (orientation: portrait) and (max-width: 999px) {
    .cookie p {
        width: 100%;
        font-size: 5.3vw;
    }
}

.cookie .btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.4vw;
}

@media (orientation: portrait) and (max-width: 999px) {
    .cookie .btn {
        width: 100%;
        flex-direction: column;
        gap: 5.3vw;
    }
}

.cookie .btn button {
    padding: 1.1vw 2.1vw;
    border-radius: 1.1vw;
    font-size: 1.2rem;
    font-weight: 600;
    border: 2px solid #954CED;
    cursor: pointer;
    transition: all 0.3s linear;
}

@media (orientation: portrait) and (max-width: 999px) {
    .cookie .btn button {
        width: 100%;
        height: auto;
        aspect-ratio: 295/57;
        border-radius: 4.3vw;
    }
}

.cookie .btn button.accept {
    background: #954CED;
    color: #fff;
}

.cookie .btn button.accept:hover {
    background: #4800A1;
    border: 2px solid #4800A1;
}

.cookie .btn button.decline {
    background: none;
}

.cookie .btn button.decline:hover {
    background: #954CED;
    color: #fff;
}

.contact-form {
    position: absolute;
    width: 29%;
    display: none;
    left: 35.5%;
    background: #fff;
    border-radius: 1.4vw;
    padding: 2.8%;
    top: 3.9vw;
    color: #070707;
    z-index: 3;
}

@media (orientation: portrait) and (max-width: 999px) {
    .contact-form {
        width: 89.3%;
        padding: 5.3% 4.3%;
        border-radius: 5.3vw;
        left: 5.35%;
        top: 21.1vw;
        z-index: 2;
    }
}

.contact-form .closeForm {
    position: absolute;
    width: 3%;
    right: 1.4vw;
    top: 1.4vw;
}

@media (orientation: portrait) and (max-width: 999px) {
    .contact-form .closeForm {
        width: 3.6%;
        right: 5.3vw;
        top: 3.5vw;
    }
}

.contact-form .closeForm svg {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    cursor: pointer;
}

.contact-form .closeForm svg:hover path {
    stroke: #FFAA4C;
}

.contact-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 1.4vw;
}

@media (orientation: portrait) and (max-width: 999px) {
    .contact-form form {
        gap: 5.3vw;
    }
}

.contact-form form fieldset {
    width: 100%;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 0.7vw;
}

@media (orientation: portrait) and (max-width: 999px) {
    .contact-form form fieldset {
        gap: 2.7vw;
    }
}

.contact-form form fieldset .block-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 0.3vw;
}

@media (orientation: portrait) and (max-width: 999px) {
    .contact-form form fieldset .block-input {
        gap: 1.1vw;
    }
}

.contact-form form fieldset .block-input label {
    width: 100%;
    font-size: 1vw;
    font-weight: 500;
    line-height: 157%;
}

@media (orientation: portrait) and (max-width: 999px) {
    .contact-form form fieldset .block-input label {
        font-size: 3.7vw;
    }
}

.contact-form form fieldset label span {
    color: #FF6C2D;
}

.contact-form form fieldset .block-input input {
    width: 100%;
    border-radius: 1vw;
    border: 1px solid #F1F1F1;
    padding: 3% 4.7%;
    font-family: "Outfit", serif;
    font-size: 1vw;
    outline: none;
}

.contact-form form fieldset .block-input input:focus {
    border: 2px solid #FFAA4C;
}

@media (orientation: portrait) and (max-width: 999px) {
    .contact-form form fieldset .block-input input {
        font-size: 3.7vw;
        border-radius: 3.7vw;
    }
}

.contact-form form fieldset .block-input input::placeholder {
    font-family: "Outfit", serif;
    font-size: 1vw;
    font-weight: 400;
    color: #A7A7A7;
    line-height: 157%;
}

@media (orientation: portrait) and (max-width: 999px) {
    .contact-form form fieldset .block-input input::placeholder {
        font-size: 3.7vw;
    }
}

.contact-form form fieldset .block-input input#phone {
    background: url(../img/usa.png) no-repeat;
    background-position: 5px;
    padding-left: 35px;
}

.contact-form form fieldset .block-input span.fields {
    width: 100%;
    display: none;
    color: #EC1211;
    font-size: 0.8vw;
    font-weight: 400;
    line-height: 167%;
}

@media (orientation: portrait) and (max-width: 999px) {
    .contact-form form fieldset .block-input span.fields {
        font-size: 3.2vw;
    }
}

.contact-form form span.allFields {
    width: 100%;
    display: none;
    font-size: 1.1vw;
    font-weight: 400;
    color: #EC1211;        
}

@media (orientation: portrait) and (max-width: 999px) {
    .contact-form form span.allFields {
        font-size: 4.3vw;       
    }
}

.contact-form form p {
    width: 100%;
    font-size: 1vw;
    font-weight: 300;
    line-height: 140%;
}

@media (orientation: portrait) and (max-width: 999px) {
    .contact-form form p {
        font-size: 3.7vw;
    }
}

.contact-form form p a {
    color: #954CED;
}

.contact-form form p a:hover {
    text-decoration: underline;
}

.contact-form form button {
    width: 54%;
    aspect-ratio: 182/57;
    font-family: "Outfit", serif;
    font-size: 1.4vw;
    font-weight: 600;
    color: #fff;
    border: none;
    border-radius: 1.1vw;
    background: #B9B9B9;
    cursor: default;
}

@media (orientation: portrait) and (max-width: 999px) {
    .contact-form form button {
        width: 100%;
        aspect-ratio: 303/57;
        font-size: 5.3vw;
        border-radius: 4.3vw;
    }
}

.successForm {
    position: fixed;
    width: 29%;
    left: 35.5%;
    background: #fff;
    padding: 2.8%;
    border-radius: 1.4vw;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.4vw;
    top: 4.8vw;
    z-index: 3;
}

@media (orientation: portrait) and (max-width: 999px) {
    .successForm {
        width: 89.3%;
        left: 5.35%;
        padding: 10.7% 5.3%;
        border-radius: 4.3vw;
        gap: 5.3vw;
        top: 45.3vw;
        z-index: 2;
    }
}

.successForm .closeMessage {
    position: absolute;
    width: 2.9%;
    right: 1.4vw;
    top: 1.4vw;
}

.successForm .closeMessage svg {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    cursor: pointer;
}

.successForm .closeMessage svg:hover path {
    stroke: #FFAA4C;
}

@media (orientation: portrait) and (max-width: 999px) {
    .successForm .closeMessage {
        width: 3.6%;
        top: 5.3vw;
        right: 5.3vw;
    }
}

.successForm .thanksImg {
    width: 88.1%;
    height: auto;
    aspect-ratio: 297/232;
}

@media (orientation: portrait) and (max-width: 999px) {
    .successForm .thanksImg {
        width: 77.6%;
        aspect-ratio: 229/179;
    }
}

.successForm h4 {
    color: #A64CED;
}

.successForm h5 {
    width: 100%;
    text-align: center;
    color: #444444;
    font-weight: 400;
    line-height: 120%;
}

.successForm button {
    width: 100%;
    height: auto;
    aspect-ratio: 337/57;
    border: none;
    color: #fff;
    background: #954CED;
    border-radius: 1.1vw;
    font-family: "Outfit", serif;
    font-size: 1.4vw;
    font-weight: 600;
    transition: all 0.3s linear;
    cursor: pointer;
}

@media (orientation: portrait) and (max-width: 999px) {
    .successForm button {
        width: 86.4%;
        aspect-ratio: 255/57;
        border-radius: 4.3vw;
        font-size: 5.3vw;
    }
}

.successForm button:hover {
    background: #4800A1;
}

header {
    width: 100%;
    height: auto;
}

header .mob-menu {
    display: none;
}

@media (orientation: portrait) and (max-width: 999px) {
    header .mob-menu {
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 5.3% 4.3%;
        top: 0;
        display: none;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        background: #181818;
        z-index: 3;
    }

    header .mob-menu .closeMenu {
        width: 100%;
        display: flex;
        justify-content: end;
        margin-bottom: 44.3%;
    }

    header .mob-menu .closeMenu svg {
        width: 5.2%;
        height: auto;
        aspect-ratio: 1/1;
    }

    header .mob-menu .closeMenu svg:active path {
        stroke: #FFAA4C;
    }

    header .mob-menu button {
        width: 100%;
        aspect-ratio: 343/57;
        background: #954CED;
        border-radius: 4.3vw;
        border: none;
        color: #fff;
        font-size: 5.3vw;
        font-weight: 600;
        margin-bottom: 51.6%;
    }

    header .mob-menu ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 4.3vw;
    }

    header .mob-menu ul li {
        width: 100%;
        font-size: 5.3vw;
        font-weight: 500;
    }
}

header nav {
    width: 100%;
    height: auto;
    background: #FFAA4C;
    padding: 0 4.2%;
    z-index: 2;
}

@media (orientation: portrait) and (max-width: 999px) {
    header nav {
        padding: 0;
    }
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
}

header nav ul li {
    padding: 0.6% 2.8%;
    font-weight: 500;
    color: #000;
    cursor: pointer;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: all 0.3s linear;
}

@media (orientation: portrait) and (max-width: 999px) {
    header nav ul li {
        padding: 2.4% 10.7%;
        font-size: 4.2vw;
    }
}

header nav ul li.active {
    color: #fff;
    background: #131313;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

header nav ul li.non-active:hover {
    background: #D7D7D7;
}

header .hero-main {
    width: 100%;
    height: auto;
    z-index: 0;
}

header .hero-main .logo-btn {
    width: 100%;
    padding: 0.5% 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (orientation: portrait) and (max-width: 999px) {
    header .hero-main .logo-btn {
        padding: 4.3%;
        margin-bottom: 13.6%;
    }
} 

header .hero-main .logo-btn img.logo {
    width: 11.4%;
    height: auto;
    aspect-ratio: 156/51;
    
}

header .hero-main .logo-btn .burger {
    display: none;
}

@media (orientation: portrait) and (max-width: 999px) {
    header .hero-main .logo-btn img.logo {
        width: 36.2%;
        aspect-ratio: 124/39;
    }

    header .hero-main .logo-btn button {
        display: none;
    }

    header .hero-main .logo-btn .burger {
        display: block;
        width: 11.7%;
        height: auto;
        aspect-ratio: 1/1;
    }
}

header .hero-main .block {
    width: 100%;
    padding-left: 7.6%;
    padding-top: 5.7%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

@media (orientation: portrait) and (max-width: 999px) {
    header .hero-main .block {
        padding: 0;
        flex-direction: column;
        align-items: end;
        gap: 35.7vw;
    }
}

header .hero-main .block .content {
    width: 50.5%;
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 2.8vw;
}

@media (orientation: portrait) and (max-width: 999px) {
    header .hero-main .block .content {
        width: 100%;
        padding-inline: 4.3%;
        align-items: center;
        gap: 5.8vw;
    }
}

header .hero-main .block .content h1 {
    width: 100%;
}

header .hero-main .block .content p {
    width: 79.6%;
}

@media (orientation: portrait) and (max-width: 999px) {
    header .hero-main .block .content p {
        width: 100%;
    }

    header .hero-main .block .content button {
        width: 100%;
        aspect-ratio: 343/57;
        font-size: 5.3vw;
        margin-top: 5.8%;
    }
}

header .hero-main .block picture {
    display: block;
    width: 44.7%;
    height: auto;
    aspect-ratio: 595/529;
}

@media (orientation: portrait) and (max-width: 999px) {
    header .hero-main .block picture {
        width: 86.7%;
        aspect-ratio: 325/262;
    }
}

header .hero-main .block picture #hero {
    width: 100%;
    height: 100%;
}

.about {
    width: 100%;
    margin-top: 6.9%;
    padding-inline: 4.2%;
    z-index: 0;
}

@media (orientation: portrait) and (max-width: 999px) {
    .about {
        width: 100%;
        padding-inline: 4.3%;
        margin-top: 10.7%;
    }
}

.about h1 {
    width: 100%;
    margin-bottom: 5.6vw;
}

@media (orientation: portrait) and (max-width: 999px) {
    .about h1 {
        margin-bottom: 8.7%;
    }
}

.about .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

@media (orientation: portrait) and (max-width: 999px) {
    .about .content {
        width: 100%;
        flex-direction: column;
        gap: 10.7vw;
    }
}

.about .content .left-content {
    width: 31.1%;
}

@media (orientation: portrait) and (max-width: 999px) {
    .about .content .left-content {
        width: 100%;
    }
}

.about .content .left-content .text {
    width: 100%;
}

@media (orientation: portrait) and (max-width: 999px) {
    .about .content .left-content .text {
        width: 79.6%;
    }
}

.about .content .left-content .text h4 {
    width: 100%;
    font-size: 2.5vw;
    font-weight: 600;
    z-index: 1;
}

@media (orientation: portrait) and (max-width: 999px) {
    .about .content .left-content .text h4 {
        width: 100%;
        font-size: 6.4vw;
        line-height: 120%;
    }
}

.about .content .left-content .text img {
    position: absolute;
    width: 86.6%;
    height: auto;
    aspect-ratio: 355/45;
    bottom: -1.2%;
    right: -1%;
    z-index: 0;
}

@media (orientation: portrait) and (max-width: 999px) {
    .about .content .left-content .text img {
        width: 86.1%;
        aspect-ratio: 235/29;
        right: 0;
        bottom: 0;
    }
}

.about .content .left-img {
    position: absolute;
    width: 32%;
    height: auto;
    aspect-ratio: 423/489;
    bottom: 0;
    left: -4.2%;
}

@media (orientation: portrait) and (max-width: 999px) {
    .about .content .left-img {
        display: none;
    }
}

.about .content .right-content {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    gap: 4.9vw;
}

@media (orientation: portrait) and (max-width: 999px) {
    .about .content .right-content {
        width: 100%;
        flex-direction: column;
        gap: 16vw;
    }
}

.about .content .right-content .block {
    width: 42%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1vw;
}

@media (orientation: portrait) and (max-width: 999px) {
    .about .content .right-content .block {
        width: 100%;
        gap: 2.7vw;
    }
}

.about .content .right-content .block img {
    width: 31.2%;
    height: auto;
    aspect-ratio: 1/1;
}

@media (orientation: portrait) and (max-width: 999px) {
    .about .content .right-content .block img {
        width: 29.2%;
        aspect-ratio: 1/1;
    }
}

.about .content .right-content .block p {
    font-size: 1.7vw;
}

.how-budds {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6.9%;
}

@media (orientation: portrait) and (max-width: 999px) {
    .how-budds {
        width: 100%;
        margin-top: 10.7%;
        padding-block: 10.7%;
    }
}

.how-budds img {
    width: 21.4%;
    aspect-ratio: 308/623;
    z-index: 1;
}

@media (orientation: portrait) and (max-width: 999px) {
    .how-budds img {
        width: 60.8%;
        aspect-ratio: 228/461;
        z-index: 1;
    }
}

.how-budds .background {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4.7vw;
    overflow: hidden;
    z-index: 0;
}

@media (orientation: portrait) and (max-width: 999px) {
    .how-budds .background {
        gap: 24.8vw;
    }
}

.how-budds .background .row {
    width: 100%;
    display: flex;
    /* gap: 1.4vw;  */
    overflow: hidden;
}

@media (orientation: portrait) and (max-width: 999px) {
    .how-budds .background .row {
        gap: 5.3vw;
    }
}

.how-budds .background .row p {
    flex-shrink: 0;
    font-size: 7.3vw;
    font-weight: 900;
    white-space: nowrap;
}

@media (orientation: portrait) and (max-width: 999px) {
    .how-budds .background .row p {
        font-size: 12.8vw;
    }
}

.how-budds .background .row p span {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #444444;
}

@media (orientation: portrait) and (max-width: 999px) {
    .how-budds .background .row p span {
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #444444;
    }
}

.how-budds .background .row p.green {
    color: #2FDBBC;
}

.how-budds .background .row p.violet {
    color: #A64CED;
}

.how-budds .background .row p.orange {
    color: #FFAA4C;
}

.el1 {
    animation: marquee1 20s infinite linear;
    animation-delay: -20s;
}

.el2 {
    animation: marquee2 20s infinite linear;
    animation-delay: -10s;
}

@keyframes marquee1 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee2 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-200%);
    }
}

.el3 {
    animation: marquee3 20s infinite linear;
    animation-delay: -20s;
}

.el4 {
    animation: marquee4 20s infinite linear;
    animation-delay: -10s;
}

@keyframes marquee3 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes marquee4 {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0%);
    }
}

.el5 {
    animation: marquee5 20s infinite linear;
    animation-delay: -20s;
}

.el6 {
    animation: marquee6 20s infinite linear;
    animation-delay: -10s;
}

@keyframes marquee5 {
    0% {
        transform: translateX(105%);
    }
    100% {
        transform: translateX(-95%);
    }
}

@keyframes marquee6 {
    0% {
        transform: translateX(5%);
    }
    100% {
        transform: translateX(-195%);
    }
}

.advantages {
    width: 100%;
    padding: 2.8% 4.2%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6.9vw;
    background: #954CED;
    margin-top: 6.9%;
}

@media (orientation: portrait) and (max-width: 999px) {
    .advantages {
        padding: 10.7% 4.3%;
        margin-top: 10.7%;
        flex-direction: column;
        gap: 10.7vw;
    }
}

.advantages .advantage {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 1.1vw;
}

@media (orientation: portrait) and (max-width: 999px) {
    .advantages .advantage {
        width: 100%;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 5.3vw;
    }
}

.why-budds {
    width: 100%;
    padding-inline: 4.2%;
    margin-top: 6.9%;
}

@media (orientation: portrait) and (max-width: 999px) {
    .why-budds {
        padding: 10.7% 4.3%;
        margin-top: 10.7%;
    }
}

.why-budds h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 1.4%;
}

@media (orientation: portrait) and (max-width: 999px) {
    .why-budds h2 {
        margin-bottom: 5.8%;
    }
}

.why-budds .text-budds {
    width: 100%;
    margin-bottom: 4.9%;
}

@media (orientation: portrait) and (max-width: 999px) {
    .why-budds .text-budds {
        margin-bottom: 11.7%;
    }
}

.why-budds .text-budds p {
    width: 100%;
    text-align: center;
    font-size: 2.5vw;
    font-weight: 600;
    z-index: 1;
}

@media (orientation: portrait) and (max-width: 999px) {
    .why-budds .text-budds p {
        font-size: 6.2vw;
    }
}

.why-budds .text-budds img {
    position: absolute;
    width: 29.3%;
    aspect-ratio: 386/44;
    left: 35.35%;
    bottom: -0.5%;
    z-index: 0;
}

@media (orientation: portrait) and (max-width: 999px) {
    .why-budds .text-budds img {
        width: 70%;
        aspect-ratio: 244/29;
        right: 0;
        left: unset;
        bottom: 0;
    }
}

.why-budds .blocks {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 1.4vw;
    flex-wrap: wrap;
}

@media (orientation: portrait) and (max-width: 999px) {
    .why-budds .blocks {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5.3vw;
    }
}

.why-budds .blocks .long-block {
    width: 56.3%;
    height: auto;
    aspect-ratio: 733/362;
    background: #F5F5F5;
    border-radius: 2.1vw;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: start;
    overflow: hidden;
}

@media (orientation: portrait) and (max-width: 999px) {
    .why-budds .blocks .long-block {
        width: 100%;
        aspect-ratio: unset;
        border-radius: 5.3vw;
        padding: 0;
        flex-direction: column;
    }
}

.why-budds .blocks .long-block .content {
    margin-top: 5.5%;
}

@media (orientation: portrait) and (max-width: 999px) {
    .why-budds .blocks .long-block .content, .why-budds .blocks .small-block .content {
        width: 100%;
        margin-top: unset;
        padding: 5.8%;
        order: 0;
    }

    .why-budds .blocks .long-block .content img, .why-budds .blocks .small-block .content img {
        order: 1;
    }
}

.why-budds .blocks .long-block .content h3, .why-budds .blocks .small-block .content h3 {
    width: 100%;
    text-align: left;
    margin-bottom: 1.4vw;
}

@media (orientation: portrait) and (max-width: 999px) {
    .why-budds .blocks .long-block .content h3, .why-budds .blocks .small-block .content h3 {
        margin-bottom: 4.3vw;
    }
}

.why-budds .blocks .long-block .content p, .why-budds .blocks .small-block .content p {
    width: 100%;
    text-align: left;
    font-size: 1.4vw;
    line-height: 120%;
}

@media (orientation: portrait) and (max-width: 999px) {
    .why-budds .blocks .long-block .content p, .why-budds .blocks .small-block .content p {
        font-size: 4.3vw;
    }
}

@media (orientation: portrait) and (max-width: 999px) {
    .why-budds .blocks .block-1 {
        padding: 0;
    }
}

.why-budds .blocks .long-block .content-1 {
    width: 49.7%;
    margin-right: 5.5%;
}

@media (orientation: portrait) and (max-width: 999px) {
    .why-budds .blocks .long-block .content-1 {
        width: 100%;
        margin: 0;
        margin-bottom: 1.5%;
        order: 0;
    } 
}

.why-budds .blocks .block-1 picture {
    display: block;
    width: auto;
    height: 100%;
    aspect-ratio: 318/362;
}

@media (orientation: portrait) and (max-width: 999px) {
    .why-budds .blocks .block-1 picture {
        width: 100%;
        height: auto;
        aspect-ratio: 343/193;
        order: 1;
    }
}

.why-budds .blocks .long-block #img1 {
    width: 100%;
    height: 100%;
}

.why-budds .blocks .block-4 {
    justify-content: start;
}

.why-budds .blocks .long-block .content-4 {
    width: 54.8%;
    margin-left: 5.5%;
}

@media (orientation: portrait) and (max-width: 999px) {
    .why-budds .blocks .long-block .content-4 {
        width: 100%;
        margin: 0;
        margin-bottom: 1.5%;
    }
}

.why-budds .blocks .long-block img#img4 {
    position: absolute;
    width: 28.6%;
    height: auto;
    aspect-ratio: 210/301;
    right: 5.9%;
    bottom: 0;
}

@media (orientation: portrait) and (max-width: 999px) {
    .why-budds .blocks .long-block img#img4 {
        position: relative;
        width: 41.7%;
        height: auto;
        aspect-ratio: 143/185;
        right: unset;
        margin-left: 42.3%;
    }
}

@media (orientation: portrait) and (max-width: 999px) {
    .why-budds .blocks .block-2 {
        padding-inline: 0;
        padding-bottom: 0;
    }

    .why-budds .blocks .block-3 {
        justify-content: end;
        padding-inline: 0;
        padding-bottom: 0;
    }
}

.why-budds .blocks .small-block {
    width: 42.2%;
    height: auto;
    aspect-ratio: 547/362;
    background: #F5F5F5;
    border-radius: 2.1vw;
    color: #000;
    overflow: hidden;
    display: flex;
    justify-content: left;
    align-items: start;
}

@media (orientation: portrait) and (max-width: 999px) {
    .why-budds .blocks .small-block {
        width: 100%;
        aspect-ratio: unset;
        border-radius: 5.3vw;
        flex-wrap: wrap;
        justify-content: right;
    }
}

.why-budds .blocks .small-block .content-2 {
    width: 76.1%;
    margin-top: 7.3%;
    margin-left: 7.3%;
}

@media (orientation: portrait) and (max-width: 999px) {
    .why-budds .blocks .small-block .content-2 {
        width: 100%;
        margin: 0;
        padding: 5.8%;
        padding-bottom: 0;
        order: 0;
    }
}

.why-budds .blocks .small-block img {
    position: absolute;
}

.why-budds .blocks .small-block img#img2-1 {
    width: 13.2%;
    height: auto;
    aspect-ratio: 72/64;
    bottom: 0;
    left: 13.2%;
}

@media (orientation: portrait) and (max-width: 999px) {
    .why-budds .blocks .small-block img#img2-1 {
        position: relative;
        width: 21%;
        margin-top: 19%;
        left: 2.9%;
        order: 1;
    }
}

.why-budds .blocks .small-block img#img2-2 {
    width: 17%;
    height: auto;
    aspect-ratio: 93/86;
    bottom: 0;
    right: 11%;
}

@media (orientation: portrait) and (max-width: 999px) {
    .why-budds .blocks .small-block img#img2-2 {
        width: 27.1%;
        bottom: 0;
        right: 33.5%;
    }
}

.why-budds .blocks .small-block img#img2-3 {
    width: 16.1%;
    height: auto;
    aspect-ratio: 88/167;
    right: 0;
    top: 14.6%;
}

@media (orientation: portrait) and (max-width: 999px) {
    .why-budds .blocks .small-block img#img2-3 {
        width: 17.8%;
        aspect-ratio: 61/116;
        top: 58.6%;
    }
}

.why-budds .blocks .small-block .content-3 {
    width: 80.4%;
    margin-top: 7.3%;
    margin-left: 7.3%;
}

@media (orientation: portrait) and (max-width: 999px) {
    .why-budds .blocks .small-block .content-3 {
        width: 100%;
        padding: 5.8%;
        padding-bottom: 0;
        margin: 0;
        margin-bottom: 8.5%;
    }
}

.why-budds .blocks .small-block .content-3 p {
    width: 70%;
}

@media (orientation: portrait) and (max-width: 999px) {
    .why-budds .blocks .small-block .content-3 p {
        width: 100%;
    }
}

.why-budds .blocks .small-block img#img3 {
    position: absolute;
    width: 36.9%;
    height: auto;
    aspect-ratio: 202/83;
    bottom: 0;
    right: 0;
}

@media (orientation: portrait) and (max-width: 999px) {
    .why-budds .blocks .small-block img#img3 {
        position: relative;
        width: 58.9%;
        aspect-ratio: 202/83;
        margin-left: 20.55%;
    }
}

.contact {
    width: 100%;
    background: #F5F5F5;
    padding: 6.9% 4.2%;
    margin-top: 6.9%;
    color: #000;
}

@media (orientation: portrait) and (max-width: 999px) {
    .contact {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10.7vw;
        padding: 10.7% 4.3%;
        margin-top: 10.7%;
    }
}

.contact .btn-contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2.8vw;
    border: 1px solid #CFCFCF;
    border-radius: 4.2vw;
    padding-block: 4.5%;
    margin-bottom: 7.6%;
}

@media (orientation: portrait) and (max-width: 999px) {
    .contact .btn-contact {
        gap: 10.7vw;
        border-radius: 16vw;
        padding: 10.7% 5.3%;
        margin-bottom: 0;
    }
}

@media (orientation: portrait) and (max-width: 999px) {
    .contact .btn-contact h2 {
        width: 100%;
        text-align: center;
    }
}

@media (orientation: portrait) and (max-width: 999px) {
    .contact .btn-contact button {
        width: 100%;
        height: auto;
        aspect-ratio: 303/57;
        background: #954CED;
        border-radius: 16px;
        border: none;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 600;
        cursor: pointer;
    }
}

.contact .text-networks {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7.6%;
}

@media (orientation: portrait) and (max-width: 999px) {
    .contact .text-networks {
        width: 100%;
        flex-direction: column;
        gap: 5.3vw;
    }
}

.contact .text-networks .content {
    width: 62.3%;
}

@media (orientation: portrait) and (max-width: 999px) {
    .contact .text-networks .content {
        width: 100%;
    }
}

.contact .text-networks .content h1 {
    margin-bottom: 2.4%;
}

@media (orientation: portrait) and (max-width: 999px) {
    .contact .text-networks .content h1 {
        margin-bottom: 5.8%;
    }
}

.contact .text-networks .content p {
    width: 65.3%;
    font-size: 1.3vw;
    line-height: 120%;
}

@media (orientation: portrait) and (max-width: 999px) {
    .contact .text-networks .content p {
        width: 100%;
        font-size: 5.3vw;
    }
}

.contact .text-networks .network {
    width: 35.2%;
    height: auto;
    aspect-ratio: 465/180;
}

@media (orientation: portrait) and (max-width: 999px) {
    .contact .text-networks .network {
        width: 100%;
        aspect-ratio: 343/129;
    }
}

.contact .text-networks .network img {
    position: absolute;
    width: 19.4%;
    height: auto;
    aspect-ratio: 1/1;
}

@media (orientation: portrait) and (max-width: 999px) {
    .contact .text-networks .network img {
        width: 18.7%;
    }
}

.contact .text-networks .network img#network1 {
    top: 0;
    left: 0;
}

.contact .text-networks .network img#network2 {
    bottom: 0;
    left: 26.8%;
}

.contact .text-networks .network img#network3 {
    top: 0;
    left: 53.6%;
}

.contact .text-networks .network img#network4 {
    bottom: 0;
    right: 0;
}

.contact .brands {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (orientation: portrait) and (max-width: 999px) {
    .contact .brands {
        flex-wrap: wrap;
        row-gap: 8vw;
        padding-block: 13.3%;
    }
}

.contact .brands #brand1 {
    width: 9.5%;
    height: auto;
    aspect-ratio: 91/43;
}

@media (orientation: portrait) and (max-width: 999px) {
    .contact .brands #brand1 {
        width: 26.5%;
        order: 2;
    }
}

.contact .brands #brand2 {
    width: 15.8%;
    height: auto;
    aspect-ratio: 149/42;
}

@media (orientation: portrait) and (max-width: 999px) {
    .contact .brands #brand2 {
        width: 43.4%;
        order: 1;
    }
}

.contact .brands #brand3 {
    width: 13.8%;
    height: auto;
    aspect-ratio: 131/34;
}

@media (orientation: portrait) and (max-width: 999px) {
    .contact .brands #brand3 {
        width: 38.2%;
        order: 0;
    }
}

.contact .brands #brand4 {
    width: 21%;
    height: auto;
    aspect-ratio: 196/28;
}

@media (orientation: portrait) and (max-width: 999px) {
    .contact .brands #brand4 {
        width: 57.1%;
        order: 3;
    }
}

.contact .brands #brand5 {
    width: 13.9%;
    height: auto;
    aspect-ratio: 128/32;
}

@media (orientation: portrait) and (max-width: 999px) {
    .contact .brands #brand5 {
        width: 37.3%;
        order: 4;
    }
}

footer {
    width: 100%;
    background: #181818;
    padding: 2.8% 4.2% 1.4%;
}

@media (orientation: portrait) and (max-width: 999px) {
    footer {
        padding: 5.3% 4.3%;
    }
}

footer .top {
    width: 100%;
    padding-bottom: 2.3%;
    border-bottom: 1px solid #444444;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (orientation: portrait) and (max-width: 999px) {
    footer .top {
        padding-bottom: 10.7%;
        border-bottom: 2px solid #444444;
        flex-direction: column;
        gap: 10.7vw;
        margin-bottom: 2%;
    }
}

footer .top .left {
    width: 65.9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (orientation: portrait) and (max-width: 999px) {
    footer .top .left {
        width: 100%;
        flex-direction: column;
        align-items: start;
        gap: 10.7vw;
    }
}

footer .top .left img {
    width: 17.8%;
    height: auto;
    aspect-ratio: 155/57;
}

@media (orientation: portrait) and (max-width: 999px) {
    footer .top .left img {
        width: 36.2%;
        aspect-ratio: 124/39;
    }
}

footer .top .left ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.8vw;
}

@media (orientation: portrait) and (max-width: 999px) {
    footer .top .left ul {
        width: 100%;
        flex-direction: column;
        gap: 4.3vw;
    }
}

footer .top .left ul li {
    cursor: pointer;
    font-size: 1.3vw;
    font-weight: 500;
}

footer .top .left ul li:hover {
    color: #FFAA4C;
}

@media (orientation: portrait) and (max-width: 999px) {
    footer .top .left ul li {
        width: 100%;
        font-size: 5.3vw;
    }

    footer .top .left button {
        width: 53.1%;
        font-size: 5.3vw;
    }
}

footer .top .left ul .nav-footer-mobile {
    display: none;
}

@media (orientation: portrait) and (max-width: 999px) {
    footer .top .left ul .nav-footer-mobile {
        display: block;
    }
}

footer .top .right {
    width: 31.1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (orientation: portrait) and (max-width: 999px) {
    footer .top .right {
        width: 100%;
        flex-direction: column;
        align-items: start;
        gap: 5.3vw;
    }
}

footer .top .right img {
    width: 47.3%;
    height: auto;
    aspect-ratio: 194/57;
}

@media (orientation: portrait) and (max-width: 999px) {
    footer .top .right img {
        width: 56.6%;
    }
}

footer .bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9vw;
    color: #B9B9B9;
    padding-top: 1.5%;
}

@media (orientation: portrait) and (max-width: 999px) {
    footer .bottom {
        font-size: 3.7vw;
    }
}

footer .bottom ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.4vw; 
}

@media (orientation: portrait) and (max-width: 999px) {
    footer .bottom ul {
        display: none;
    }
}

footer .bottom ul li a {
    color: #B9B9B9;
    text-decoration: underline;
}